<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.18" targetFramework="net461" />
  <package id="ILMerge.MSBuild.Task" version="1.0.3" targetFramework="net461" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="TaskScheduler" version="2.8.6" targetFramework="net461" />
</packages>